$container-width: 1170px;
$color-main: #565656;
$color-secondary: #000;
$color-third: #7B7B7B;
$color-bg-footer: #F4F4F4;

$font-main: "Lato", sans-serif;
$font-secondary: "Red Hat Display", sans-serif;

$header-height: 60px;
