.container {
    margin: 0 auto;
    max-width: 300px;
    @include media("tablet") {
        max-width: 700px;
    }
    @include media("desktop") {
        max-width: 1170px;
    }  
    
    &__button--center {
        width: 300px;
        display: flex;
        justify-content: center;
    }
}