.hero {
  background-image: url(/images/hero-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

  @include media("tablet") {
    height: 320px;
  }

  @include media("desktop") {
    height: 600px;
  }

  &__title {
    @extend .container;
    font-family: $font-secondary;
    @include text(30px, 600, $color-secondary, 50px);
    letter-spacing: 0.05em;
    padding: 70px 0 230px;

    @include media("tablet") {
      font-size: 36px;
      padding: 30px 0 190px;
    }

    @include media("desktop") {
      @include text(48px, 600, $color-secondary, 64px);
      padding: 100px 0 380px;
    }
  }
}
